// _alerts.scss
.btn-secondary {
    background-color: $magenta;
    border-color: $magenta;
    &:hover {
        border-color: darken($magenta, 10%);
        background-color: darken($magenta, 10%);
    }
}