// _inputs.scss
$switch-inactive-color: #ddd;
$switch-active-color: $blue;

.switch {
  position: relative;
  label { margin: 0; }
  input {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 0%;
    margin: 0 0;
    cursor: pointer;
    opacity: 0;
    & + span {
      cursor: pointer;
      padding-left: 45px;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
      &:before {
        border-radius: 20px;
        position: absolute;
        left: 0px;
        display: inline-block;
        content: "";
        height: 20px;
        width: 40px;
        background: $switch-inactive-color;
        transition: background 0.2s ease-out;
      }
      &:after {
        border: solid $switch-inactive-color 2px;
        background-clip: padding-box;
        border-radius: 20px;
        width: 20px;
        height: 20px;
        position: absolute;
        left: 0px;
        top: 0;
        display: block;
        background: #ffffff;
        transition: margin-left 0.1s ease-in-out;
        text-align: center;
        font-weight: bold;
        content: "";
      }
      & > h4 { display: inline; }
    }
    &:checked {
      & + span {
        &:after {
          content: "";
          margin-left: 20px;
          border: solid transparent 2px;
          background-clip: padding-box;
          -webkit-animation: popIn ease-in 0.3s normal;
              animation: popIn ease-in 0.3s normal;
        }
        &:before {
          background: $switch-active-color;
           transition: background 0.2s ease-in;
        }
      }
    }
    &:not(:checked) {
      & + span {
        &:after {
          -webkit-animation: popOut ease-in 0.3s normal;
                  animation: popOut ease-in 0.3s normal;
        }
      }
    }
  }
  &.switch-sm {
  line-height: 10px;
    input {
      & + span {
      padding-left: 25px;
        &:before {
          width: 20px;
        }
        &:before,
        &:after {
          height: 10px;
          line-height: 10px;
        }
        &:after {   
        width: 10px;
        }
      }
      &:checked {
        & + span {
          &:after {
            margin-left: 10px;
          }
        }
      }
    }
  }
  &.switch-md {
    line-height: 30px;
    input {
      & + span {
        padding-left: 65px;
        &:before {
          width: 60px;
        }
        &:before,
        &:after {
        border-radius: 30px;  
          height: 30px;
        line-height: 30px;
        }
        &:after {
          width: 30px;
          vertical-align: middle;
        }
      }
      &:checked {
        & + span {
          &:after {
            margin-left: 30px;
          }
        }
      }
    }
  }
  &.switch-lg {
  line-height: 40px;
    input {
      & + span {
        padding-left: 90px;
        &:before {
          width: 80px;
        }
        &:before,
        &:after {
        border-radius: 40px;
          height: 40px;
        }
        &:after {
        width: 40px;
        vertical-align: middle;
        }
      }
      &:checked {
        & + span {
          &:after {
            margin-left: 40px;
          }
        }
      }
    }
  }
}