//
// _typography.scss
//

// Font load class
.fonts-loaded {
  body {
    font-family: $font-family-primary;
  }
  h1,h2,h3,
  h4,h5,h6,
  .h1,.h2,.h3,
  .h4,.h5,.h6,
  .font-slab {
    font-family: $font-family-alt;
  }
  .font-sans {
    font-family: $font-family-primary;
  }
}

// Font weights
.font-weight-300 {
  font-weight: 300;
}
.font-weight-400 {
  font-weight: 400;
}
.font-weight-500 {
  font-weight: 500;
}
.font-weight-600 {
  font-weight: 500;
}
.font-weight-700 {
  font-weight: 700;
}

// Link color
a {
  color: $primary-color;
  &:hover {
    color: $primary-color-alt;
  }
}

// Input help blocks
.help-block {
  strong {
    font-weight: 500;
  }
}