//
//  _utilities.scss
//

/*
* Mixin for basic CSS triangles
* @include triangle(up, #000, 50px);
* @include triangle(bottomleft, #000, 50px);
*/
@mixin triangle($direction, $color: currentcolor, $size: 1em) {
  @if not index(top right bottom left, $direction) {
    @error "Direction must be either top, right, bottom or left.";
  }

  width: 0;
  height: 0;
  content: '';

  $perpendicular-borders: $size solid transparent;

  @if $direction == top {
    border-left: $perpendicular-borders;
    border-right: $perpendicular-borders;
    border-bottom: $size solid $color;
  }
  @if $direction == bottom {
    border-left: $perpendicular-borders;
    border-right: $perpendicular-borders;
    border-top: $size solid $color;
  }
  @if $direction == right {
    border-bottom: $perpendicular-borders;
    border-top: $perpendicular-borders;
    border-left: $size solid $color;
  }
  @if $direction == left {
    border-bottom: $perpendicular-borders;
    border-top: $perpendicular-borders;
    border-right: $size solid $color;
  }
}

// Dropdown Arrows
%dropdown-arrow {
  &:before, &:after {
    position: absolute;
    top: -1em;
  }
  &:before {
    @include triangle(top, #bbb);
  }
  &:after {
    @include triangle(top, #fff);
    top: calc(-1em + 1px);
  }
}
