//
//	_variables.scss
//

// Font Stack Alt
$font-family-base: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-primary: 'Fira Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-alt: 'Roboto Slab', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

// Colors
$primary-color: #f4645f;
$primary-color-alt: darken(#f4645f, 13%);
$hover-bg-light: #f8f9fa;
$peach: #f99a7e;
$magenta: #e6615f;
$lime: #89d949;

.text-peach { color: $peach !important; }
.text-magenta { color: $magenta !important; }
.text-lime { color: $lime !important; }

// Box Shadow Size
$box-shadow-sm: 0 .15rem .35rem rgba(0,0,0,.075);
$box-shadow: 0px 0px 13px 0px rgba(82,63,105,0.05);
$box-shadow-lg: 0 1rem 3rem rgba(0,0,0,.175);