// _activity.scss
.activity-page {
    .activites-list {
        background: #fff;
        list-style: none;
        max-width: 800px;
        margin: 0 auto 2rem;
        padding: 0;
        border-radius: 8px;
        box-shadow: $box-shadow-sm;
        li {
            border-bottom: 1px solid $gray-200;
            a {
                display: block;
                padding: 1rem;
                font-size: 1.125rem;
                color: $gray-700;
                transition: box-shadow 350ms ease-out;
                strong {
                    color: $gray-900;
                    font-weight: 500;
                }
                & > p {
                    margin: 0 0 0 65px;
                }
                &:hover {
                    color: $gray-700;
                    text-decoration: none;
                    box-shadow: $box-shadow;
                }
                datetime {
                    display: block;
                    font-size: 0.875rem;
                    color: $gray-500;
                }
            }
            .profile-photo {
                width: 48px;
                height: 48px;
                display: block;
                border-radius: 500px;
            }
            &:last-child {
                border: none;
            }
        }
    }
    .pagination {
        margin-bottom: 3rem;
    }
}