//
// _blank.scss
//
.blank-page {
  position: relative;
  padding-top: 1em;
  &:after {
    background: linear-gradient(to right, $magenta 0%, $peach 100%);
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    height: 6px;
  }
  .container {
    max-width: 500px;
  }
  .nav-bar {
    max-width: 400px;
    text-align: center;
    margin: 0 auto;
  }
  .auth-brand {
    margin: 20px 0 0;
    display: inline-block;
    line-height: 0;
    a {
      font-size: 28px;
      color: #444;
      text-decoration: none;
      svg {
        vertical-align: middle;
        transition: opacity 200ms ease;
      }
    }
  }
  form {
    width: 100%;
    padding: 1rem;
    background: #fff;
    border-radius: 10px;
    margin: 2rem 0 0;
  }
  .forgot-password {
    margin-top: 10px;
  }
  .remember-me {
    font-size: 16px;
  }
  .has-account {
    margin-top: 1rem;
  }
  .auth-btns {
    text-align: center;
    button {
      width: 100%;
      cursor: pointer;
    }
  }
  .alert {
    margin: 2rem auto 0;
    & ~ form {
      margin-top: 0.5rem;
    }
  }
  .help-block {
    padding: 0.25rem 0;
    font-size: 13px;
    color: $primary-color;
    strong {
      font-weight: normal;
    }
  }
  @include media-breakpoint-up(sm){
    padding-top: 3em;
  }
  @include media-breakpoint-up(md){
    form {
      padding: 1rem 2rem 2rem;
    }
  }
}