//
//  _browse.scss
//
.browse-page {
  background: $hover-bg-light;
  .filter {
    box-shadow: $box-shadow;
    border: none;
    .card-body {
      padding-top: 0.65rem;
    }
  }
  .search-form {
    .form-group {
      margin-bottom: 0;
    }
    label {
      padding-top: 0;
      line-height: 1;
      font-size: 14px;
      color: $gray-600;
    }
    .search-btn {
      cursor: pointer;
      font-weight: 500;
      box-shadow: 0 .5rem 1rem rgba($primary, .3);
      transition: box-shadow 300ms ease-out;
      &:hover {
        box-shadow: 0 .25rem .5rem rgba($primary, .3);
      }
    }
    .age {
      span {
        position: relative;
        top: 5px;
        font-size: 14px;
        color: $gray-500;
      }
    }
  }
  .browse-deck {
    .card {
      box-shadow: $box-shadow;
      border: none;
      overflow: hidden;
      margin-bottom: 1rem;
      @include media-breakpoint-up(md) {
        margin-bottom: 1.5rem;
      }
      @include media-breakpoint-up(lg) {
        margin-bottom: 2rem;
      }
    }
    .card-title {
      font-size: 18px;
      margin-bottom: 0rem;
    }
    .card-img-top {
      img {
        width: 100%;
      }
      .default-photo {
        height: 253px;
        width: 100%;
        background-color: lighten($hover-bg-light, 1.5%);
        border-radius: 0;
      }
    }
    .card-body {
      padding: 0.75rem 1.25rem;
      .age {
        float: right;
        font-size: 16px;
      }
    }
    .card-footer {
      padding: 0.5rem 0.75rem;
      background: #fff;
    }
    .region, .age {
      color: $gray-500;
      font-size: 14px;
      i {
        font-size: 14px;
        color: $gray-400;
      }
    }
  }
  .empty-results {
    h4 {
      margin-top: 2em;
    }
  }
}