//
// _legal.scss
//

.legal-page {

  h2 {
    &:first-child {
      font-size: 42px;
      text-align: center;
      margin: 0 0 3rem;
    }
  }
  h3 {
    font-weight: 500;
    font-size: 21px;
    margin: 2rem 0 1rem;
  }
  p {
    font-size: 18px;
    line-height: 1.75;
    color: $gray-600;
  }
  .terms {
    margin: 0 0 3rem;
  }

}