// _login.scss
.login-page {
  padding-top: 0;
  background: linear-gradient(to right, $magenta, $peach);
  text-align: center;
  .logo {
    text-align: center;
    margin-bottom: 2rem;
    font: 26px;
    font-size: 26px;
    svg {
      position: relative;
      // top: 11px;
      width: 38px;
      height: 38px;
    }
  }
  .login-wrap {
    background: url(/images/welcome_bg.jpg) no-repeat center top / cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    & > main {
      margin: auto;
    }
  }
  .login-form {
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    background: #fff;
    border-radius: 10px;
    min-width: 400px;
    width: 100%;
    padding: 2rem 2rem 1rem;
    margin: 0 auto;
    text-align: left;
    input[type="email"],
    input[type="password"] {
      padding: .5rem;
    }
    label {
      color: $gray-600;
    }
    .remember-me {
      color: $gray-700;
    }
    .login-btn {
      font-weight: 500;
      padding: .65rem;
      cursor: pointer;
    }
  }
  .copyright {
    color: rgba(255,255,255,0.5);
    text-align: center;
    font-size: 14px;
    margin-top: .75rem
  }
}