//
//  _messages.scss
//
.inbox-page,
.sent-page,
.trash-page {
  background: $hover-bg-light;
  .sidebar {
    background: #fff;
    box-shadow: $box-shadow;
    border-radius: 4px;
    .list-group {
      .list-group-item {
        border: none;
        border-left: 4px solid transparent;
        &:hover {
          border-left-color: $gray-200;
        }
        &.active {
          background: none;
          color: #333;
          border-left-color: $magenta;
        }
      }
    }
  }
  .messages {
    border-radius: 4px;
    background: #fff;
    box-shadow: $box-shadow;
    padding: 1rem;
    h2 {
      font-weight: 100;
      margin-bottom: 1rem;
    }
    .custom-checkbox {
      .custom-control-label {
        &:before {
          top: .5rem;
          background-color: #fff;
          border: 2px solid $gray-300;
        }
        &:after {
          top: .5rem;
        }
      }
    }
    .custom-control-input {
      &:checked {
        & ~ .custom-control-label {
          &:before {
            color: #fff;
            background-color: #007bff;
            border:none;
          }
        }
      }
    }

    .message {
      &:hover { text-decoration: none; }
      .status-icon {
        position: absolute;
        bottom: 0;
        right: -5px;
        border: 3px solid #fff;
        width: 15px;
        height: 15px;
      }
      .photo {
        position: relative;
        width: 48px;
        text-align: left;
        float: left;
        img {
          display: block;
          width: 48px;
          height: 48px;
          border-radius: 50%;
        }
      }
      .username {
        text-align: left;
        padding-right: 2rem;
      }
      .message-text {
        color: $gray-600;
        a {
          color: $gray-600;
          &:hover {
            text-decoration: none;
          }
        }
      }
      .date {
        color: $gray-500;
        font-size: 14px;
        text-align: right;
        white-space: nowrap;
        i {
          margin-left: 0.5rem;
        }
      }
    }

    .messages-table {
      width: 100%;
      table-layout: fixed;
      margin-bottom: 0;
      td {
        vertical-align: middle;
        border: none;
        border-bottom: 1px solid $gray-200;
        white-space: nowrap;
      }
      thead {
        &.thead-default {
          tr {
            &:first-child {
              th {
                border-radius: 4px 4px 0 0;
              }
            }
          }
          th {
            background-color: $hover-bg-light;
            border: 0;
            border-bottom: 1px solid #eee;
          }
        }
      }
      tbody {
        tr {
          td {
          }
          &:first-child {
            td {
              border-top: 0;
            }
          }
          &:last-child {
            td {
              border: none;
              &:first-child {
                border-radius: 0 0 0 4px;
              }
              &:last-child {
                border-radius: 0 0 4px 0;
              }
            }
          }
        }
      }
      .sender,
      .receiver {
        td {
          max-width: 0;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .checkbox {
        }
        .photo {
          width: 48px;
          text-align: left;
          img {
            display: block;
            width: 48px;
            height: 48px;
            border-radius: 50%;
          }
        }
        .username {
          text-align: left;
          padding-right: 2rem;
        }
        .message {
          color: $gray-600;
          white-space: nowrap;
          a {
            color: $gray-600;
            &:hover {
              text-decoration: none;
            }
          }
        }
        .date {
          color: $gray-500;
          font-size: 14px;
          text-align: right;
          i {
            margin-left: 0.5rem;
          }
        }
      }
      .empty {
        text-align: center;
        color: $gray-600;
        padding: 1.4rem 0;
      }
    }
    .pagination {
      margin: 0;
      float: right;
      a {
        color: #666;
      }
    }
  }
  @include media-breakpoint-down(sm) {
    .messages-table {
      thead {
        display: none;
      }
      .checkbox {
        display: none;
      }
    }
  }
}

// Sidebar Active Menu
@mixin sidebar-active($class) {
  .sidebar {
    .list-group {
      .list-group-item {
        &.#{$class} {
          background: none;
          color: #333;
          border-left-color: $magenta;
        }
      }
    }
  }
}
.inbox-page {
  @include sidebar-active(inbox-item);
}
.sent-page {
  @include sidebar-active(sent-item);
}
.trash-page {
  @include sidebar-active(trash-item);
}