//
//  _profile.scss
//
.profile-page {
  background: $hover-bg-light;
  .sidebar {
    max-width: 350px;
    .profile-details,
    .user-info {
      background: #fff;
      border-radius: 4px;
      border: 1px solid #fff;
      box-shadow: $box-shadow;
      dt {
        font-weight: 500;
      }
      dd {
        text-transform: capitalize;
      }
    }
    .profile-details {
      text-align: center;
      position: relative;
      .edit-profile-link {
        position: absolute;
        right: 18px;
        top: 12px;
        font-size: 20px;
        color: $gray-400;
        text-decoration: none;
        transition: color 200ms ease;
        &:hover {
          color: $gray-700;
        }
      }
      .profile-photo {
        position: relative;
        margin: 3rem auto 0.5rem;
        width: 150px;
        height: 150px;
        .default-photo,
        img {
          border-radius: 50%;
          margin: 0 auto;
          display: block;
          width: 150px;
          height: 150px;
        }
        .status-icon.online {
          width: 20px;
          height: 20px;
          border: 3px solid #fff;
          position: absolute;
          right: 5px;
          top: 15px;
        }
      }
      .username {
        font-size: 28px;
        font-weight: 500;
        margin: 0.75rem 0 0.5rem;
        letter-spacing: -1px;
      }
      .location {
        color: $gray-500;
        margin-left: -14px;
        margin-bottom: 1.5rem;
        display: inline-block;
        font-size: 14px;
      }
      .headline {
        margin: 0 auto 1.5rem;
        font-size: 14px;
        max-width: 80%;
        color: $gray-700;
      }
      .actions {
        max-width: 200px;
        margin: 0 auto 2rem;
        .btn {
          cursor: pointer;
          border-radius: 100px;
        }
        .btn-wave {
          color: #fff;
          padding: 0.75rem;
          border: 0;
          background-color: transparent;
          @include gradient-directional($magenta, $peach);
          &:focus {
            box-shadow: 0 0 0 3px rgba(250, 155, 125, 0.15);
          }
          &.waved {
            background: lighten($green, 25%);
            cursor: default;
            &:focus {
              box-shadow: 0 0 0 3px rgba(56, 218, 56, 0.25);
            }
          }
        }
        .icon-envelope {
          position: relative;
          top: 2px;
        }
        .icon-wave {
          display: inline-block;
          transform: rotate(45deg);
          margin-left: 3px;
        }
      }
      .social-media {
        padding: 0;
        margin: 1rem auto 2rem;
        li {
          display: inline-block;
          margin: 0 0 0 3rem;
          font-size: 19px;
          color: $gray-200;
          a { 
            color: $gray-800;
          }
          &:first-child {
            margin: 0;
          }
        }
      }
    }
    .user-info {
      padding: 2rem 2rem 1rem 2rem;
      .user-info-title {
        font-size: 12px;
        font-weight: 700;
        color: $gray-400;
        text-transform: uppercase;
        margin-bottom: 1rem;
        letter-spacing: 1px;
      }
      dd,
      dt {
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    .block-btn,
    .report-btn {
      color: $red;
      font-size: 13px;
    }
    .block-btn {
      color: #444;
    }
  }
  #message-form {
    margin-bottom: 1rem;
    background: #fff;
    border: 1px solid #fff;
    box-shadow: $box-shadow-sm;
    border-radius: 4px;
    transition: box-shadow 350ms ease-out;
    &:hover {
      box-shadow: $box-shadow;
    }
    .message-wrap {
      overflow: hidden;
    }
    .message-input {
      margin: 0 auto;
      width: 100%;
      padding: 1.5rem 1rem;
      border: 0;
      font-weight: normal;
      font-size: 18px;
      line-height: 1.5;
      box-shadow: $box-shadow-lg;
    }
    .msg-profile-photo {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      width: 42px;
      height: 42px;
      border-radius: 100%;
      float: left;
    }
    .action-group {
      padding-top: 1rem;
      border-top: 1px solid #eee;
      #stickers-dd,
      #gifs-dd {
        margin-top: 1rem;
        padding: 0;
        width: 219px;
        min-height: 200px;
        img {
          display: block;
        }
        .search { 
          .search-input {
            margin: 10px auto;
          }
        }
        .gallery {
          overflow-y: scroll;
          overflow-x: hidden;
          min-height: 200px;
          max-height: 400px;
          svg {
            font-size: 18px;
            color: $gray-300;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
          }
          img {
            max-width: 200px;
          }
        }
        &:before, &:after {
          position: absolute;
          top: -10px;
          left: 20px;
        }
        &:before {
          @include triangle(top, #bbb, 10px);
        }
        &:after {
          @include triangle(top, #fff, 10px);
          top: calc(-10px + 1px);
        }
      }
      #stickers-dd {
        img {
          width: 50px;
          float: left;
        }
        &:before, &:after {
          left: 40px;
        }
      }
      .powered-by-giphy {
        color: $gray-400;
        padding: 0.25rem 0.35rem;
        margin: 0;
        font-size: 11px;
      }
    }
    .action {
      border-radius: 50px;
      font-size: 13px;
      color: $gray-800;
      background-color: #f6f7f9;
      border-color: #f6f7f9;
      font-weight: 500;
      margin-bottom: 1rem;
      cursor: pointer;
      .fa-images {
        color: $teal;
      }
      .fa-smile {
        color: $yellow;
      }
      .fa-magic {
        color: $purple;
      }
      &:hover,
      &:focus {
        background-color: darken(#f6f7f9, 5%);
        border-color: darken(#f6f7f9, 5%);
      }
      &:focus {
        background-color: $blue;
        border-color: $blue;
        color: #fff;
        box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.3);
        i {
          color: #fff;
        }
      }
    }
    .photo {
      display: none;
    }
    .submit {
      width: 100%;
      clear: both;
      cursor: pointer;
    }
  }
  .messages {
    background: #fff;
    border-radius: 4px;
    padding: 2.5rem;
    margin-bottom: 1rem;
    box-shadow: $box-shadow-sm;
    .message {
      margin: 0 0 1.5rem 1rem;
      position: relative;
      .avatar {
        position: absolute;
        width: 21px;
        height: 21px;
        left: -25px;
        bottom: 0;
        img {
          width: 21px;
          height: 21px;
          border-radius: 100%;
          display: block;
        }
        .default-photo {
          display: block;
        }
      }
      .bubble {
        overflow: hidden;
        border-radius: 15px;
        margin: 0 0 3px;
        display: inline-block;
        padding: 1rem;
        background: $peach;
        color: #fff;
        &.photo, 
        &.sticker, 
        &.gif, 
        &.image {
          padding: 0;
          background: none;
          img {
            width: 100%;
          }
        }
        &.gif {
          img {
            max-height: 250px;
          }
        }
      }
      .date {
        clear: both;
        font-size: 13px;
        color: $gray-500;
        text-indent: 5px;
      }
      &.sender {
        margin-left: 0;
        text-align: right;
        .bubble {
          text-align: left;
          background: $gray-200;
          color: $gray-700;
          &.photo,
          &.sticker,
          &.gif {
            background: none;
          }
        }
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .profile-tabs {
    background: #fff;
    border-radius: 4px;
    border: 1px solid #e4e4e4;
  }
  .user-tabs {
    background: #fff;
    border: 1px solid #e4e4e4;
    border-radius: 4px;
    .nav-tabs {
      border-radius: 4px 4px 0 0;
      background-color: $hover-bg-light;
      .nav-item {
        .nav-link {
          color: #888;
          border: 0;
          border-left: 1px solid #ddd;
          font-size: 14px;
          font-weight: 500;
          text-transform: uppercase;
          padding: 1rem 1.75rem;
          border-radius: 0;
          &.active {
            color: #222;
          }
        }
        &:first-child {
          .nav-link {
            border-left: 0;
            border-radius: 4px 0 0 0;
          }
        }
        &:last-child {
          .nav-link {
            &.active {
              border-right: 1px solid #ddd;
            } 
          }
        }
      }
    }
  }
  .add-photo-btn {
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
    outline: none;
    background-color: $primary;
    border-radius: 100%;
    box-shadow: $box-shadow;
    color: #fff;
    font-size: 18px;
    line-height: 50px;
    text-align: center;
    transition: box-shadow 250ms ease-in;
    &:hover {
      background-color: darken($primary, 5%);
      box-shadow: $box-shadow-sm;
    }
  }
  .owner-section {
    padding: 0.5rem 1.5rem 1.5rem;
    background: #fff;
    border-radius: 4px;
    box-shadow: $box-shadow;
  }
  .owner-tabs {
    border-color: #e4e4e4;
    .nav-link {
      background: none;
      border: none;
      font-size: 16px;
      font-weight: 500;
      padding: 1.25rem 2rem;
      &.active {
        border-bottom: 1px solid #333;
      }
      &:hover:not(.active) {
        border-color: transparent;
      }
    }
  }
  #owner-content {
    margin-top: 0.75rem;
    background: none;
    border: none;
    .tab-pane {
    }
    .no-photos {
      padding: 1rem 0;
      text-align: center;
      h3 {
        margin-top: 1.5rem;
        font-size: 1.65rem;
      }
      p {
        color: $gray-500;
      }
      button {
        cursor: pointer;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
      }
    }
    .gallery-item {
      position: relative;
      #btn-delete-photo {
        position: absolute;
        right: 1.25rem;
        bottom: 1.25rem;
      }
    }
  }
  #photos-tab {
    img {
      max-width: 100%;
    }
  }
  .photo-limit {
    margin-top: 1rem;
  }
  #favorites-tab {
    .card {
      margin: 1rem 0;
      overflow: hidden;
      .card-img-top {
        .default-photo {
          width: 100%;
          border-radius: 0;
          background: #fff;
        }
      }
      .card-title {
        font-size: 16px;
        margin: 0;
      }
      .card-body {
        .age {
          float: right;
        }
        .age,
        .region {
          font-size: 13px;
          color: $gray-600;
          margin: 0 0 0.25rem;
        }
      }
      .card-body,
      .card-footer {
        padding: 0.35rem 1.25rem;
      }
      .card-footer {
      }
    }
    .no-favorites {
      margin-top: 1.25rem;
    }
  }
  #photo-editor-modal {
    .photo-editor {
      .photo-wrap {
        .default-photo,
        .cropit-preview {
          border-radius: 0;
        }
        .add-photo-label {
          span {
            bottom: -10px;
            right: -10px;
          }
        }
      }
    }
  }

  // Media breakpoints
  @include media-breakpoint-up(lg) {
    #message-form {
      .action {
        font-size: 14px;
        margin-bottom: 0;
      }
      .submit {
        float: right;
        max-width: 200px;
        clear: none;
      }
    }
    .messages {
      .message {
        .bubble {
          max-width: 50%;
        }
      }
    }
  }
}