//
// _settings.scss
//
.settings-page {
  background: $hover-bg-light;
  .container {
    max-width: 992px;
  }
  .settings-sidebar {
    .list-group-item {
      border: none;
      padding: 1rem 1.5rem;
      border-left: 3px solid transparent;
      &:hover {
        border-left-color: $gray-200;
      }
      &.active {
        font-weight: 500;
        background: #fff;
        border-left-color: $magenta;
        color: #000;
      }
    }
  }
  .settings-wrap {
    border-radius: 4px;
    background: #fff;
    border: 1px solid #ddd;
    margin-bottom: 2rem;
  }
  .settings-sidebar,
  .settings-content {
    overflow: hidden;
  }
  .settings-content {
    padding: 2rem;
    border-left: 1px solid #ddd;
    .alert {
      ul {
        margin: 0;
        padding: 0;
        li {
          list-style: none;
        }
      }
    }
    .title {
      margin: 0 0 1rem;
      font-size: 22px;
      border-bottom: 1px solid #ddd;
      padding-bottom: 1rem;
    }
  }
  .settings-form {
    margin: 0;
    label {
      font-weight: 500;
      text-align: right;
    }
    .submit-edits {
      max-width: 175px;
      width: 100%;
      margin-top: 1rem;
      cursor: pointer;
    }
    textarea {
      resize: height;
      min-height: 75px;
      max-height: 150px;
    }
    .letter-counter-wrap {
      text-align: right; 
      .letter-counter {
        font-size: 14px;
        color: $gray-500;
        &.maxed {
          color: $red;
        }
      }
    }
    .sub-label {
      font-size: 14px;
      font-weight: 500;
      color: $gray-600;
    }
    .form-group {
      label {
      }
      small {
        a {
          color: $gray-600;
          border-bottom: 1px dotted $gray-600;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
    .form-text {
      color: $gray-500;
    }
    .settings-photo {
      position: relative;
      margin: 0.5rem 0 3rem 0;
      h2 {
        font-size: 24px;
        margin: 0.75rem 0 0.25rem;
      }
      .profile-photo {
        width: 80px;
        height: 80px;
        display: block;
        border-radius: 100%;
      }
      .btn-photo {
        position: absolute;
        right: 15px;
        display: block;
        background: none;
        border: none;
        cursor: pointer;
        padding: 0;
      }
      .btn-link {
        padding: 0;
        font-size: 14px;
        cursor: pointer;
      }
    }
  }
  .settings-photo-modal {
    &.show {
      display: flex !important;
      align-items: center;
      .modal-dialog {
        flex-grow: 1;
      }
    }
    .modal-header {
      border-color: rgba(0, 0, 0, 0.125);
    }
    .modal-body {
      padding: 0;
      .list-group-item {
        padding: 0;
        text-align: center;
        border-left: none;
        border-right: none;
        button, 
        label {
          width: 100%;
          border: none;
          background: 0;
          padding: 0.75rem 1.25rem;
          margin: 0;
          cursor: pointer;
          font-weight: normal;
          text-align: center;
          &:hover {
            background-color: $hover-bg-light;
          }
          &:disabled {
            color: $gray-400;
            cursor: not-allowed;
            &:hover {
              background-color: #fff;
            }
          }
        }
        input[type="file"] {
          display: none;
        }
        &:first-child {
          border-top: 0;
        }
      }
    }
    .photo-editor {
      display: none;
      text-align: center;
      padding: 4rem 0 2.5rem 0;
      .photo-wrap {
        position: relative;
        width: 150px;
        height: 150px;
        margin: 0 auto 2.5rem;
        .add-photo-label {
          cursor: pointer;
          position: absolute;
          width: 150px;
          height: 150px;
          left: 0;
          top: 0;
          display: none;
          z-index: 3;
          span {
            position: absolute;
            bottom: 10px;
            right: 3px;
          }
        }
        .default-photo {
          position: absolute;
          left: 0;
          top: 0;
          z-index: 1;
        }
        .image-zoom-in,
        .image-zoom-out,
        .delete-photo {
          z-index: 3;
          position: absolute;
          background: none;
          border: none;
          display: block;
          padding: 0;
        }
        .image-zoom-in {
          left: 10px;
          bottom: -20px;
        }
        .image-zoom-out {
          right: 10px;
          bottom: -20px;
        }
        .delete-photo {
          top: 10px;
          right: 3px;
        }
        .cropit-image-loaded {
          cursor: move;
        }
        .cropit-image-input {
          display: none;
        }
        .cropit-preview {
          width: 150px;
          height: 150px;
          z-index: 2;
          border-radius: 100%;
          overflow: hidden;
        }
      }
      .upload-header {
        font-size: 1.5rem;
        margin: 00 0.5rem;
      }
      #upload-btn {
        cursor: pointer;
      }
      .btn:disabled {
        background-color: #bbb;
        border-color: #bbb;
        cursor: not-allowed;
      }
      .footnote {
        margin: 2rem 0 0 0;
        font-size: 14px;
        color: $gray-500;
      }
    }
  }
  .settings-block-list {
    margin-top: 3rem;
    ul {
      margin: 0.25rem 0 0;
      padding: 0;
      list-style: none;
      li {
        font-size: 14px;
        button {
          font-size: 14px;
        }
      }
    }
  }
}