//
// _upload_photo.scss
//
.upload-photo-form {
  text-align: center;
  .photo-wrap {
    margin: 0 auto;
    width: 150px;
    position: relative;
  }
  .upload-photo-default {
    border-radius: 50%;
    display: block;
  }
  .upload-label {
    font-weight: 500;
    font-size: 18px;
    color: #333;
  }
  .upload-header {
    font-size: 18px;
    font-weight: 500;
    margin: 2.5rem 0 1rem;
  }
  .upload-input {
    display: none;
  }
  .add-photo-label {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
    margin: 0;
    z-index: 3;
    .icon-plus-circle {
      position: absolute;
      bottom: 0;
      right: 0;
    }
    &:hover {
      .icon-plus-circle {
        background-color: darken($blue, 8%);
      }
    }
  }
  .image-zoom-in,
  .image-zoom-out,
  .delete-photo {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: -16px;
    left: 95px;
    line-height: 0;
    z-index: 3;
    padding: 0;
    &:active {
      span {
        background-color: darken($lime, 8%);
      }
    }
  }
  .image-zoom-in {
    left: 15px;
  }
  .delete-photo {
    top: 5px;
    right: 5px;
    bottom: unset;
    left: unset;
    &:active {
      span {
        background-color: darken($red, 8%);
      }
    }
  }
  .default-photo {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
    z-index: 1;
    border-radius: 50%;
    i {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      display: inline-block;
      color: $gray-300;
    }
  }
  .avatar {
    display: none;
  }
  .footnote {
    margin-top: 15px;
    color: #aaa;
    font-size: 13px;
  }
  input[type="file"] {
    margin: 0 auto;
  }
  .btn {
    cursor: pointer;
    transition: background-color 250ms ease, border-color 250ms ease;
    &:disabled {
      background-color: #bbb;
      border-color: #bbb;
      cursor: not-allowed;
    }
  }
  /* Cropit CSS */
  .cropit-preview {
    z-index: 2;
    margin: 0 auto;
    // background: url(/images/default_profile.jpg) no-repeat center center;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    overflow: hidden;
    &.cropit-image-loaded {
      .cropit-preview-image-container {
        cursor: move;
      }
    }
    &.cropit-image-loading .spinner {
      opacity: 1;
    }
  }
  .cropit-image-zoom-input {
    margin: 0.5rem 0 1rem;
    transition: opacity 200ms ease;
    opacity: 1;
    &:disabled {
      cursor: not-allowed
    }
  }
  .cropit-image-zoom-input {
    margin-top: 1.5rem;
    width: 160px;
  }
}