//
// _welcome.scss
//
.welcome-page {
  padding-top: 0;
  background: linear-gradient(to right, $magenta 50%, $peach 50%);
  .hero-wrap {
    background: url(/images/welcome_bg.jpg) no-repeat center top;
    max-height: 550px;
    .welcome-brand {
      margin: 20px 0 0;
      display: inline-block;
      line-height: 0;
      a {
        font-size: 18px;
        color: #fff;
        text-decoration: none;
        svg {
          opacity: 0.4;
          vertical-align: middle;
          transition: opacity 200ms ease;
        }
        &:hover {
          svg {
            opacity: 0.7;
          }
        }
      }
    }
    .account-signin {
      margin-top: 18px;
      text-align: right;
      color: #fff;
      font-size: 18px;
      font-weight: 400;
      a.btn {
        font-size: 14px;
        font-weight: 400;
        color: #fff;
        border-color: #fff;
        margin-left: 5px;
        &:hover {
          background: #fff;
          color: $peach;
        }
        &:focus {
          box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.35);
        }
      }
    }
    .jumpotron {
      color: #fff;
      text-align: center;
      padding: 3rem 0;
      overflow: hidden;
      h2 {
        font-weight: 600;
        font-size: 32px;
      }
      .lead {
        margin-bottom: 30px;
        font-size: 14px;
        font-weight: 400;
        strong {
          font-weight: 600;
        }
      }
      .signup-btn {
        font-size: 16px;
        font-weight: 700;
      }
      .no-cc {
        opacity: .65;
      }
    }
    @include media-breakpoint-up(sm){
      .welcome-brand {
        margin: 30px 0 0;
        a {
          font-size: 26px;
        }
      }
      .account-signin {
        margin-top: 30px;
        a.btn {
          font-size: 18px;
        }
      }
      .jumpotron {
        padding: 4rem 0;
        h2 {
          font-size: 36px;
        }
        .lead {
          font-size: 16px;
        }
        .signup-btn {
          font-size: 22px;
          font-weight: 500;
          padding: 0.65rem 2rem;
        }
      }
    }
    @include media-breakpoint-up(md){
      .jumpotron {
        padding: 6rem 0;
        h2 {
          font-size: 68px;
        }
        .lead {
          margin-bottom: 40px;
          font-size: 22px;
        }
      }
    }
  }
  .app-wrap {
    position: relative;
    background: $hover-bg-light;
    color: #888;
    padding: 1.5rem 0;
    text-align: center;
    a {
      display: inline-block;
      margin: 0 10px;
    }
    img {
      display: inline-block;
      width: 175px;
    }
  }
  .description-wrap {
    background: #fff;
    .container {
      padding: 2.5rem 0;
      .desc-item {
        text-align: center;
        color: #999;
        margin-bottom: 2.5rem;
        h4 {
          font-weight: 500;
          font-size: 24px;
          color: #222;
          margin: 0 0 0.75rem;
        }
        i {
          font-size: 42px;
          color: $primary-color;
          margin: 0 0 15px;
          display: inline-block;
        }
        p {
          width: 90%;
          margin: 0 auto;
          font-size: 16px;
        }
      }
    }
    @include media-breakpoint-up(md){
      .container {
        padding: 5rem 0;
        .desc-item {
          margin-bottom: 0;
          p {
            font-size: 18px;
          }
        }
      }
    }
  }
}