//
// _footer.scss
//

// Logged in footer
#footer {
  display: none;
  box-shadow: $box-shadow;
  padding: 2.5rem 0 2rem;
  background: #fff;
  text-align: center;
  p {
    margin: 0;
    color: $gray-500;
  }
  a {
    color: $gray-500;
  }
  .footer-logo {
    margin: 0;
    font-size: 0;
    font-weight: normal;
    display: inline-block;
    color: $gray-500;
    line-height: 1;
    svg {
      width: 48px;
      height: 48px;
      margin: 0 0.25rem 0 0;
      display: inline-block;
      vertical-align: middle;
    }
    &:hover {
      text-decoration: none;
    }
  }
  .footer-nav {
    margin-top: 1rem;
    ul {
      margin: 0;
      padding: 0;
      overflow: auto;
      li {
        display: inline-block;
        margin-right: 15px;
        a {
          display: inline-block;
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  .copyright {
    margin-top: 2rem;
    text-align: center;
    font-size: 14px;
  }
  @include media-breakpoint-up(md) {
    display: block;
    text-align: left;
    .footer-logo {
      float: left;
      font-size: 18px;
      svg {
        width: auto;
        height: auto;
      }
    }
    .footer-nav {
      float: left;
      margin: 0 0 0 3rem;
    }
    .copyright {
      text-align: left;
      margin-top: 0.5rem;
    }
  }
  @include media-breakpoint-up(lg) {
    .copyright {
      text-align: left;
      margin-top: 0;
    }
  }
}

// Front Page Footer
.footer {
  padding: 1.5rem 0;
  background: #fff;
  font-size: 14px;
  text-align: center;
  p {
    margin: 0;
    color: #aaa;
  }
  a {
    color: #aaa;
  }
}
