//
//	_global.scss
//
body {
  padding-top: 5rem;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #f9f9fc;
  @include media-breakpoint-up(md) {
    padding-top: 7rem;
  }
}

// Logo Types
.logo {
  a {
    color: $gray-900;
    text-decoration: none;
    &:hover {
      color: $gray-900;
    }
  }
  #logo-svg {
    .logo-bg {
      fill: #ed6e6e;
    }
    .logo-g1 {
      fill: #ed6e6e;
    }
    .logo-g2 {
      fill: #c65454;
    }
    .logo-g3 {
      fill: #e26464;
    }
  }
  &.white {
    a { 
      color: #fff;
    }
    #logo-svg {
      .logo-bg {
        fill: rgba(255,255,255,0);
      }
      .logo-g1 {
        fill: rgba(255,255,255,0.85);
      }
      .logo-g2 {
        fill: rgba(255,255,255,0.5);
      }
      .logo-g3 {
        fill: rgba(255,255,255,0.7);
      }
    }
  }
}

#main {
  flex: 1;
}

/* TWBS Overrides */
.dropdown-menu {
  border: 1px solid #ddd;
}

.dropdown-menu-right {
  left: auto;
  right: 0;
}

.badge-info {
  background-color: $primary-color;
}

.select-fluid {
  width: 100%;
}

.pagination {
  .page-item {
    .page-link {
      color: $primary-color;
      i {
        font-size: 12px;
      }
    }
    &.active {
      .page-link {
        color: #fff;
        background-color: $primary-color;
        border-color: $primary-color;
      }
    }
    &.disabled {
      .page-link {
        color: $gray-300;
      }
    }
  }
}

button.close {
  cursor: pointer;
}

.alert-link {
  font-weight: 500;
}

.btn {
  &.btn-unstyled {
    color: $blue;
    padding: 0;
    margin: 0;
    display: inline-block;
    background: none;
    cursor: pointer;
    box-shadow: none;
    vertical-align: unset;
    line-height: 1;
    &:hover {
      text-decoration: underline;
    }
  }
}

.custom-control {
  & > label {
    min-height: 1.5rem;
  }
}

/* Various Items */
.hidden {
  display: none;
}

.or {
  position: relative;
  font-size: 11px;
  text-transform: uppercase;
  color: #aaa;
  font-weight: bold;
  text-align: center;
  span {
    background: #fff;
    display: inline-block;
    padding: 0.5rem 0.5rem;
    position: relative;
  }
  &:before {
    position: absolute;
    content: '';
    top: 50%;
    left: 0;
    right: 0;
    height: 2px;
    background: #eee;
  }
}

.status-icon {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: #ddd;
  margin-right: 4px;
  &.online {
    background-color: $lime;
  }
}

.icon-plus-circle,
.icon-minus-circle {
  display: inline-block;
  position: relative;
  bottom: 0;
  right: 0;
  width: 32px;
  height: 32px;
  background-color: #aaa;
  border-radius: 50%;
  &:before,
  &:after {
    content: '';
    width: 3px;
    height: 15px;
    background-color: #fff;
    position: absolute;
    top: 9px;
    left: 14px;
  }
  &:after {
    transform: rotate(90deg);
  }
  &.icon-plus-circle-lg,
  &.icon-minus-circle-lg {
    width: 42px;
    height: 42px;
    &:before,
    &:after {
      height: 19px;
      top: 12px;
      left: 19px;
    }
  }
  &.icon-plus-circle-green,
  &.icon-minus-circle-green {
    background-color: $lime;
  }
  &.icon-plus-circle-blue,
  &.icon-minus-circle-blue {
    background-color: $blue;
  }
  &.icon-plus-circle-red,
  &.icon-minus-circle-red {
    background-color: $red;
  }
}

.icon-minus-circle {
  &:before {
    display: none;
  }
}

.animated-hidden {
  opacity: 0;
  visibility: hidden;
  &.animated {
    opacity: 1;
    visibility: visible;
  }
}

dl {
  &.inline-flex {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    overflow: visible;
    font-size: 14px;
    dt {
      flex: 0 0 50%;
      text-overflow: ellipsis;
      overflow: hidden;
      text-align: left;
    }
    dd {
      flex: 0 0 50%;
      margin-left: auto;
      text-align: left;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}

.profile-photo {
  width: 100%;
  height: 150px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.default-photo {
  background: darken($hover-bg-light, 2%);
  text-align: center;
  border-radius: 100%;
  display: inline-block;
  svg {
    display: inline-block;
  }
  .icon-user {
    color: $gray-300;
    display: block;
    top: 50%;
    position: relative;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  &.x16 {
    width: 16px;
    height: 16px;
    .icon-user {
      font-size: 8px;
    }
  }
  &.x21 {
    width: 21px;
    height: 21px;
    .icon-user {
      font-size: 10px;
    }
  }
  &.x28 {
    width: 28px;
    height: 28px;
    .icon-user {
      font-size: 12px;
    }
  }
  &.x32 {
    width: 32px;
    height: 32px;
    .icon-user {
      font-size: 15px;
    }
  }
  &.x36 {
    width: 36px;
    height: 36px;
    .icon-user {
      font-size: 16px;
    }
  }
  &.x42 {
    width: 42px;
    height: 42px;
    .icon-user {
      font-size: 18px;
    }
  }
  &.x48 {
    width: 48px;
    height: 48px;
    .icon-user {
      font-size: 19px;
    }
  }
  &.x64 {
    width: 64px;
    height: 64px;
    .icon-user {
      font-size: 28px;
    }
  }
  &.x80 {
    width: 80px;
    height: 80px;
    .icon-user {
      font-size: 32px;
    }
  }
  &.x128 {
    width: 128px;
    height: 128px;
    .icon-user {
      font-size: 52px;
    }
  }
  &.x150 {
    width: 150px;
    height: 150px;
    .icon-user {
      font-size: 52px;
    }
  }
}

.border-strike {
  position: relative;
  span {
    display: inline-block;
    padding: 5px 5px 5px 0;
    background-color: #fff;
    position: relative;
  }
  &:before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    left: 0;
    height: 2px;
    background: #eee;
  }
}

.gallery {
  overflow: hidden;
  .gallery-item {
    float: left;
    width: 33.333%;
    padding: 15px;
    img {
      width: 100%;
    }
  }
  .upload-btn {
    width: 100%;
    height: 216px;
    background: $hover-bg-light;
    border: 2px dashed #ccc;
    border-radius: 4px;
    font-weight: 500;
    color: $gray-600;
    cursor: pointer;
  }
}

.bullet {
  vertical-align: middle;
}

.text-ellipsis {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// Photo Editor 
#photo-editor-modal {
  border: none;
  .modal-dialog {
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}

.photo-editor {
  text-align: center;
  padding: 4rem 0 2.5rem 0;
  .photo-wrap {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 0 auto 2.5rem;
    .add-photo-label {
      cursor: pointer;
      position: absolute;
      width: 150px;
      height: 150px;
      left: 0;
      top: 0;
      z-index: 3;
      span {
        position: absolute;
        bottom: 10px;
        right: 3px;
      }
    }
    .default-photo {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
      i {
        font-size: 52px;
        color: $gray-300;
        display: block;
        top: 50%;
        position: relative;
        transform: translateY(-50%);
      }
    }
    .image-zoom-in,
    .image-zoom-out,
    .delete-photo {
      z-index: 3;
      position: absolute;
      background: none;
      border: none;
      display: block;
      padding: 0;
    }
    .image-zoom-in {
      left: 10px;
      bottom: -20px;
    }
    .image-zoom-out {
      right: 10px;
      bottom: -20px;
    }
    .delete-photo {
      top: 10px;
      right: 3px;
    }
    .cropit-image-loaded {
      cursor: move;
    }
    .cropit-image-input {
      display: none;
    }
    .cropit-preview {
      width: 150px;
      height: 150px;
      z-index: 2;
      border-radius: 100%;
      overflow: hidden;
    }
  }
  .upload-header {
    font-size: 1.5rem;
    margin: 00 0.5rem;
  }
  #upload-btn {
    cursor: pointer;
  }
  .btn:disabled {
    background-color: #bbb;
    border-color: #bbb;
    cursor: not-allowed;
  }
  .footnote {
    margin: 2rem 0 0 0;
    font-size: 14px;
    color: $gray-500;
  }
}

// Notifications
.notification {
  min-width: 270px;
  padding: 0;
  background: #fff;
  border: none;
  border-radius: 0;
  border-left: 3px solid $peach;
  border-image: linear-gradient(to bottom, $peach, $magenta) 1 100%;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.075);
  a {
    font-size: 14px;
    display: block;
    padding: 0.75rem 1.25rem;
    color: $gray-800;
    white-space: nowrap;
    line-height: 1.35;
    &:hover {
      text-decoration: none;
    }
  }
  strong {
    color: $gray-800;
  }
  p {
    margin: 0 0 0 70px;
  }
  span {
    font-size: 12px;
  }
  img {
    width: 56px;
    height: 56px;
    border-radius: 500px;
    margin: 0 0.65rem 0 0;
    float: left;
  }
  .icon-wave {
    display: inline-block;
    transform: rotate(45deg);
  }
  &.view-profile {

  }
}

// Cards
.deck {
  .card {
    overflow: hidden;
    margin-bottom: 1rem;
    @include media-breakpoint-up(md) {
      margin-bottom: 1.5rem;
    }
    @include media-breakpoint-up(lg) {
      margin-bottom: 2rem;
    }
  }
  .card-title {
    font-size: 18px;
    margin-bottom: 0rem;
  }
  .card-img-top {
    img {
      width: 100%;
    }
    .default-photo {
      height: 253px;
      width: 100%;
      background-color: lighten($hover-bg-light, 1.5%);
      border-radius: 0;
    }
  }
  .card-body {
    padding: 0.75rem 1.25rem;
    .age {
      float: right;
      font-size: 16px;
    }
  }
  .card-footer {
    padding: 0.5rem 0.75rem;
  }
  .region, .age {
    color: $gray-500;
    font-size: 14px;
    i {
      font-size: 14px;
      color: $gray-400;
    }
  }
}

// Modal
.modal-backdrop {
  background-color: #fff;
  &.show {
    opacity: .65;
  }
}
.modal-no-borders {
  .modal-content {
    border: none;
    box-shadow: 0 10px 20px rgba(0,0,0,0.15);
  }
  .modal-header,
  .modal-footer {
    border: none;
  }
}

// Backdrop bg
.backdrop-bg {
  padding-top: 0;
  background: linear-gradient(to right, $magenta, $peach);
  text-align: center;
  .logo {
    text-align: center;
    margin-bottom: 2rem;
    font: 26px;
    font-size: 26px;
    svg {
      position: relative;
      width: 38px;
      height: 38px;
    }
  }
  .bg-wrap {
    background: url(/images/welcome_bg.jpg) no-repeat center top / cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    & > main {
      margin: auto;
    }
  }
}