//
//  _header.scss
//
.navbar {
  background: #fff;
  border-top: 6px solid $primary-color;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05);
  font-size: 18px;
  &:after {
    content: '';
    position: absolute;
    top: -6px;
    left: 0;
    right: 0;
    height: 6px;
    background: linear-gradient(to right, $magenta 0%, $peach 100%);
  }
  .navbar-nav {
    flex-direction: row;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    background: #fff;
    box-shadow: 0 -0.75rem 1rem rgba(0, 0, 0, 0.05);
    .nav-link {
      font-family: $font-family-primary;
      font-weight: 400;
      font-size: 22px;
      color: lighten($gray-600, 5%);
      padding: 10px 14px;
      position: relative;
      &:hover {
        color: $gray-900;
      }
      .badge {
        position: relative;
        left: -10px;
        top: -10px;
        font-size: 12px;
      }
      svg {
        margin-right: .25rem;
      }
    }
    @include media-breakpoint-up(md) {
      box-shadow: none;
      position: relative;
      padding-left: 25px;
      margin-left: 25px;
      border-left: 1px solid #ddd;
      .nav-link {
        font-size: 18px;
        padding: 30px 22px;
        .badge {
          margin-left: 3px;
        }
      }
    }
  }
  .nav-profile-pic {
    margin-right: 3px;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    &.default-photo {
      vertical-align: middle;
    }
  }
  .nav-btn {
    font-size: 20px;
    .badge {
      font-size: 12px;
    }
  }
  .nav-name {
    padding: 0.375rem;
    font-size: 18px;
    letter-spacing: -0.025rem;
  }
  @include media-breakpoint-up(md) {
    padding-top: 0;
    padding-bottom: 0;
  }
}
.navbar-brand {
  color: #444;
  letter-spacing: -0.5px;
  svg {
    display: inline-block;
    position: relative;
    top: -1px;
  }
  &:hover {
    color: #444;
  }
  @include media-breakpoint-up(md) {
    margin-left: 1rem;
  }
}
.navbar-toggler {
  border: 1px solid lighten($primary-color, 20%);
  color: $primary-color;
  cursor: pointer;
  &:hover {
    color: darken($primary-color, 5%);
  }
  &[aria-expanded="true"] {
    border-color: lighten($primary-color, 5%);
    background: lighten($primary-color, 5%);
    color: #fff;
  }
}
.nav-divider {
  border-right: 1px solid #eee;
  padding-right: 10px;
  margin-right: 15px;
}
.notifications {
  .badge {
    position: relative;
    left: -2px;
    top: -8px;
  }
  .notifications-header {
    .btn-link {
      font-size: 16px;
    }
    @include clearfix;
    padding: 0 0 0.3rem;
    border-bottom: 1px solid #eee;
    .dropdown-header {
      float: left;
    }
    .mark-read {
      float: right;
      padding: 0.25em 1.5em;
      cursor: pointer;
    }
  }
  .notifications-user-photo {
    margin-right: 1rem;
    width: 36px;
    height: 36px;
    border-radius: 100%;
    float: left;
  }
  .dropdown-menu {
    margin-top: 21px;
    min-width: 450px;
    min-height: 300px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
    ul {
      list-style: none;
      clear: both;
      margin: 0 0 0.5rem;
      padding: 0;
      max-height: 318px;
      overflow-y: auto;
      li {
        transform: background-color 250ms ease-in-out;
        background-color: #fff;
        border-bottom: 1px solid #eee;
        a {
          padding: 0.65rem 1rem;
          color: #333;
          display: block;
          strong {
            font-weight: 500;
          }
          .default-photo {
            background: darken($hover-bg-light, 2%);
            margin-right: 0.75rem;
            color: #eee;
            float: left;
            display: block;
          }
          i:not(.icon-user) {
            float: right;
            position: relative;
            top: 10px;
            color: #ccc;
          }
          .date {
            display: block;
            font-size: 11px;
            color: #bbb;
          }
          &:hover {
            color: #333;
            background-color: lighten($hover-bg-light, .75%);
            text-decoration: none;
          }
        }
        &.unread {
          background-color: $hover-bg-light;
        }
        &.empty {
          text-align: center;
          height: 318px;
          line-height: 318px;
        }
      }
    }
    @extend %dropdown-arrow;
    &:before, &:after {
      right: 15px;
    }
  }
}
.user-actions {
  #ua-toggle {
    font-size: 16px;
    padding: 0.375rem;
  }
  // .dropdown-menu {
  //   position: relative;
  //   border: none;
  //   width: 100%;
  //   margin-top: 22px;
  //   .dropdown-header {
  //     padding: 0.5rem 12px;
  //   }
  //   .dropdown-item {
  //     padding: 0.25rem 12px;
  //     &:hover {
  //       background: none;
  //     }
  //     i {
  //       margin-right: 5px;
  //     }
  //   }
  //   .dropdown-divider {
  //     border: none;
  //   }
  //   @extend %dropdown-arrow;
  //   &:before, &:after {
  //     right: 3px;
  //   }
  // }
  @include media-breakpoint-up(md) {
    #ua-toggle {
      display: inline-block;
    }
    .dropdown-menu {
      width: auto;
      display: none;
      position: absolute;
      border: 1px solid #ddd;
      .dropdown-header {
        padding: 0.5rem 1.5rem;
      }
      .dropdown-item {
        padding: 0.25rem 1.5rem;
        &:hover {
          background-color: #f8f9fa;
        }
        &:active {
          color: #fff;
          background-color: $blue;
        }
      }
      .dropdown-divider {
        border-top: 1px solid #e9ecef;
      }
      &.show {
        display: block;
      }
    }
  }
}

// Nav active links
@mixin active_link {
  color: $magenta;
  @include media-breakpoint-down(sm) {
    padding: 8px 14px;
    border-top: 3px solid $magenta;
  }
}
.browse-page {
  .navbar-expand-md {
    .navbar-nav {
      .nav-browse {
        @include active_link;
      }
    }
   }
}
.inbox-page,
.sent-page,
.trash-page {
  .navbar-expand-md {
    .navbar-nav {
      .nav-messages {
        @include active_link;
      }
    }
   }
}
.activity-page {
  .navbar-expand-md {
    .navbar-nav {
      .nav-activity {
        @include active_link;
      }
    }
  }
}
.settings-page {
  .navbar-expand-md {
    .navbar-nav {
      .nav-settings {
        @include active_link;
      }
    }
  }
}